<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilsoftware_projekt">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rollstuhl"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rollstuhl_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobilsoftware_Projekt">
        <activity
            android:name=".DBHelper"
            android:exported="false" />
        <activity
            android:name=".ImageButtonActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/ic_neue_tolbar" />

        <activity
            android:name=".VerkehrsmittelActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>